.sidePanel {
    width: 15%;
    background-color: #3e3e3e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 100px;
    z-index: 2;
}

.sidePanel div {
    color: #bfbfbf;
    font-size: 20px;
    font-family: sans-serif;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 0;
    line-height: 30px;
    text-align: center;
    padding-bottom: 5px;
    padding-top: 5px;
}

.sidePanel div:hover {
    background: linear-gradient(to left, #000000 97%, #ff7f50 97%);
    cursor: pointer;
}