
.close {
    height: 10%;
    font-size: 40px;
    font-family: sans-serif;
    position: absolute;
    float: right;
    color: rgba(236, 236, 236, 0.4);
    margin: 10px;
    margin-right: 20px;
    padding: 0;
    z-index: 3;
}

.close:hover {
    cursor: pointer;
    transform: scale(1.1, 1.1);
    color: coral;
}

.add_file {
    position: absolute;
    background-color: rgba(62, 62, 62, 0.9);
    width: 500px;
    height: 400px;
    z-index: 4;
}

.add_file img{
    max-height: 230px;
    max-width: 230px;
    /*position: absolute;*/
    display: block;
    margin: auto;
    opacity: 0.9;
}

#container {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 25px;
}

label{
    width: 230px;
    height: 230px;
    position: relative;
}

.add_file input{
    opacity: 0;
}

.add_file p{
    color: rgba(236, 236, 236, 0.5);
    font-family: sans-serif;
    font-size: 25px;
}

.add_file img:hover {
    cursor: pointer;
    opacity: 1;
    transform: scale(1.05, 1.05);
}
